@{
    ViewData["Title"] = "Inicio";
}

    <div class="text-center display-5 mb-2 mt-5 p-4">
        <h3 class="fw-bold text-capitalize">Bienvenidos Al Sistema de Registro y Seguimiento de Proyectos de Grado</h3>
        <h5 class="fw-bold">FACULTAD CIENCIAS EXACTAS Y APLICADAS</h5>
    </div>
    <body class="imageBackground">
        
    </body>
