@{
    ViewData["Title"] = "Inicio";

}
<div class="container">
    <div class="text-center display-5 mb-2 mt-5 p-4">
        <h3 class="fw-bold text-capitalize title-shadow-1" style="">Bienvenidos Al Sistema de Registro y Seguimiento de Proyectos de Grado</h3>
    </div>
    <h5 class="fw-bold text-left text-shadow-3">FACULTAD DE</h5>
    <h4 class="fw-bold title-shadow-2">@ViewData["Faculty"]</h4>
</div>
    
    <body class="imageBackground">
        
    </body>
