@model DegreeProjectsSystem.Models.ViewModels.StudentRequestViewModel 
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Asignar Solicitud a Estudiante";
}

<form method="post">
    <div class="row p-3 border-0">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
    <input type="hidden" asp-for="StudentRequest.Id" />
    @if (Model.StudentRequest.Id != 0)
    {
        // Actualizar
        title = "Actualizar Solicitud Estudiante";

    }

    <div class="col-12 border-bottom mt-5">
        <h2 class="text-primary">@title</h2>
    </div>
    <div class="col-8 pt-4">
        
    <div class="form-group row">
        <div class="col-4 mb-3">
            <label asp-for="StudentRequest.Solicitude.TitleDegreeWork"></label>
        </div>
        <div class="col-8 mb-3">
            @Html.DropDownListFor(sst => sst.StudentRequest.SolicitudeId, Model.SolicitudeList,
            "Seleccione una solicitud....",
            new { @class = "form-control" })
            <span asp-validation-for="StudentRequest.SolicitudeId" class="text-danger"></span>
        </div>
    </div>

        

        <div class="form-group row">
            <div class="col-4 mb-3">
                <label asp-for="StudentRequest.Person.Names"></label>
            </div>
            <div class="col-8 mb-3">

                @Html.DropDownListFor(st => st.StudentRequest.PersonId, Model.PersonList,
                       "Seleccione un estudiante....",
                       new { @class = "form-control" })
                <span asp-validation-for="StudentRequest.PersonId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4 mb-3">
                <label asp-for="StudentRequest.Active"></label>
            </div>
            <div class="col-4 mb-3">
                <select asp-for="StudentRequest.Active" class="form-control">
                    <option value=true>Activo</option>
                    <option value=false>Inactivo</option>
                </select>
            </div>
        </div>

        <div class="form-group row mb-3">
            <div class="col-8 offset-4">
                @if (Model.StudentRequest.Id != 0)
                {
                    <partial name="_ButtonsUpdateAndReturn" model="Model.StudentRequest.Id" />
                }
                else
                {
                    <partial name="_ButtonsCreateAndReturn" />
                }
            </div>
        </div>

    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}